.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-side-bar {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  background-color: #f9f9f9;
  overflow-y: auto;
}
